<!DOCTYPE html>
<html>
  <head>
    <title>ChukaFlix</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" href="<%= asset_path 'CF_icon.png' %>" type="image/x-icon">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
